In [3]:
import itertools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# Make five randomc countries
countries = ["A", "B", "C", "D", "E"]

# Years 2000 to 2030
years = range(2000, 2031)

# Make a dataframe
df = pd.DataFrame(list(itertools.product(countries, years)), columns=["Country", "Year"])
df = df.sort_values(by=["Country", "Year"])
df

    Country  Year
0         A  2000
1         A  2001
2         A  2002
3         A  2003
4         A  2004
..      ...   ...
150       E  2026
151       E  2027
152       E  2028
153       E  2029
154       E  2030

[155 rows x 2 columns]

In [9]:
## STATS ##
df["GDP_Per_Capita"] = np.nan
df["Population"] = np.nan
df["Openness"] = np.nan

# Random starting population in thousands
start_pop = [3_000, 5_000, 2_000, 1_000, 4_000]
pop_growth_rate = [0.02, 0.03, 0.01, 0.05, 0.04]

for c in range(len(countries)):
    df.loc[df["Country"] == countries[c], "Population"] = start_pop[c] * (1 + pop_growth_rate[c]) ** (df["Year"] - 2000)


# random gdp per capita, larger differences
gdp_per_capita = [20_000, 30_000, 15_000, 10_000, 25_000]
gdp_growth_rate = [0.02, 0.03, 0.01, 0.05, 0.04]

for c in range(len(countries)):
    df.loc[df["Country"] == countries[c], "GDP_Per_Capita"] = gdp_per_capita[c] * (1 + gdp_growth_rate[c]) ** (df["Year"] - 2000)

df["GDP"] = df["GDP_Per_Capita"] * df["Population"]

# random openness to trade (0,1)
openness = [0.5, 0.6, 0.4, 0.3, 0.7]

for c in range(len(countries)):
    df.loc[df["Country"] == countries[c], "Openness"] = openness[c]

df

    Country  Year  GDP_Per_Capita    Population  Openness           GDP
0         A  2000    20000.000000   3000.000000       0.5  6.000000e+07
1         A  2001    20400.000000   3060.000000       0.5  6.242400e+07
2         A  2002    20808.000000   3121.200000       0.5  6.494593e+07
3         A  2003    21224.160000   3183.624000       0.5  6.756975e+07
4         A  2004    21648.643200   3247.296480       0.5  7.029956e+07
..      ...   ...             ...           ...       ...           ...
150       E  2026    69311.744619  11089.879139       0.7  7.686589e+08
151       E  2027    72084.214403  11533.474305       0.7  8.313814e+08
152       E  2028    74967.582980  11994.813277       0.7  8.992222e+08
153       E  2029    77966.286299  12474.605808       0.7  9.725987e+08
154       E  2030    81084.937751  12973.590040       0.7  1.051963e+09

[155 rows x 6 columns]