In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import util

In [2]:
filename = "GDP"
filepath = os.path.join("../Raw", filename)

df = pd.read_csv(filepath)
df

,DATAFLOW,LAST UPDATE,freq,unit,na_item,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Chain linked volumes (2010), million euro",Gross domestic product at market prices,Albania,2019,12430.1,b,NaN
1,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Chain linked volumes (2010), million euro",Gross domestic product at market prices,Albania,2020,12018.2,NaN,NaN
2,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Chain linked volumes (2010), million euro",Gross domestic product at market prices,Albania,2021,13096.2,NaN,NaN
3,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Chain linked volumes (2010), million euro",Gross domestic product at market prices,Albania,2022,13728.3,NaN,NaN
4,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Chain linked volumes (2010), million euro",Gross domestic product at market prices,Albania,2023,14268.7,p,NaN
...,...,...,...,...,...,...,...,...,...,...
1261,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Kosovo*,2019,7056.2,NaN,NaN
1262,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Kosovo*,2020,6771.6,NaN,NaN
1263,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Kosovo*,2021,7957.9,NaN,NaN
1264,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Kosovo*,2022,8895.7,NaN,NaN
1265,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Kosovo*,2023,9680.1,NaN,NaN

In [3]:
df = df[df["unit"]=="Current prices, million euro"]

In [4]:
# Only countries that exist in util.COUNTRIES class
df = df[df["geo"].isin(list(vars(util.COUNTRIES).values()))]
df

,DATAFLOW,LAST UPDATE,freq,unit,na_item,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
836,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Albania,2015,10264.1,NaN,NaN
837,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Albania,2016,10719.9,NaN,NaN
838,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Albania,2017,11559.0,NaN,NaN
839,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Albania,2018,12828.1,NaN,NaN
840,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Albania,2019,13917.9,b,NaN
...,...,...,...,...,...,...,...,...,...,...
1237,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Slovakia,2020,94320.6,NaN,NaN
1238,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Slovakia,2021,101960.0,NaN,NaN
1239,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Slovakia,2022,110088.6,NaN,NaN
1240,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Slovakia,2023,122918.9,NaN,NaN
1241,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),26/03/25 23:00:00,Annual,"Current prices, million euro",Gross domestic product at market prices,Slovakia,2024,129971.5,NaN,NaN

In [5]:
# Now we want to save the cleaned data
# OBS_VALUE: Proportion of population
# TIME_PERIOD: Year
# age_group_start: Min age
# age_group_end: Max age
# geo: Country

df = df.rename(columns={
    "TIME_PERIOD": "Year",
    "OBS_VALUE": "GDP",
    "geo": "Country"
})
df = df[["Country", "Year", "GDP"]]
df

       Country  Year       GDP
836    Albania  2015   10264.1
837    Albania  2016   10719.9
838    Albania  2017   11559.0
839    Albania  2018   12828.1
840    Albania  2019   13917.9
...        ...   ...       ...
1237  Slovakia  2020   94320.6
1238  Slovakia  2021  101960.0
1239  Slovakia  2022  110088.6
1240  Slovakia  2023  122918.9
1241  Slovakia  2024  129971.5

[347 rows x 3 columns]

In [6]:
# Save to Clean folder
clean_folder = "/Users/jesper/Desktop/CBS/Thesis 1/Data/Clean"
clean_filepath = os.path.join(clean_folder, filename + ".csv")
df.to_csv(clean_filepath, index=False)