In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import util

In [8]:
filename = "Patents"
filepath = os.path.join("../Raw", filename)

df = pd.read_csv(filepath)
df

,DATAFLOW,LAST UPDATE,freq,coop_ptn,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2009,1.00,NaN,NaN
1,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2010,0.00,NaN,NaN
2,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2011,0.00,NaN,NaN
3,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2012,0.00,NaN,NaN
4,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2013,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2431,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Türkiye,2019,6.21,be,NaN
2432,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Türkiye,2020,7.77,NaN,NaN
2433,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Türkiye,2021,8.83,NaN,NaN
2434,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Türkiye,2022,7.23,NaN,NaN
2435,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Türkiye,2023,7.66,p,NaN

In [9]:
# Only countries that exist in util.COUNTRIES class
df = df[df["geo"].isin(list(vars(util.COUNTRIES).values()))]
df

,DATAFLOW,LAST UPDATE,freq,coop_ptn,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2009,1.00,NaN,NaN
1,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2010,0.00,NaN,NaN
2,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2011,0.00,NaN,NaN
3,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2012,0.00,NaN,NaN
4,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Applicant,Number,Albania,2013,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2418,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Slovakia,2019,14.30,NaN,NaN
2419,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Slovakia,2020,17.59,NaN,NaN
2420,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Slovakia,2021,10.94,NaN,NaN
2421,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Slovakia,2022,17.31,NaN,NaN
2422,ESTAT:SDG_09_40(1.0),25/03/24 23:00:00,Annual,Inventor,Per million inhabitants,Slovakia,2023,22.47,p,NaN

In [10]:
df = df[df["unit"]=="Number"]

In [11]:
# Now we want to save the cleaned data
# OBS_VALUE: Proportion of population
# TIME_PERIOD: Year
# age_group_start: Min age
# age_group_end: Max age
# geo: Country

df = df.rename(columns={
    "TIME_PERIOD": "Year",
    "OBS_VALUE": "Patents",
    "geo": "Country"
})
df = df[["Country", "Year", "Patents"]]
df

       Country  Year  Patents
0      Albania  2009      1.0
1      Albania  2010      0.0
2      Albania  2011      0.0
3      Albania  2012      0.0
4      Albania  2013      0.0
...        ...   ...      ...
1930  Slovakia  2019     78.0
1931  Slovakia  2020     96.0
1932  Slovakia  2021     60.0
1933  Slovakia  2022     94.0
1934  Slovakia  2023    122.0

[1130 rows x 3 columns]

In [12]:
# Save to Clean folder
clean_folder = "/Users/jesper/Desktop/CBS/Thesis 1/Data/Clean"
clean_filepath = os.path.join(clean_folder, filename + ".csv")
df.to_csv(clean_filepath, index=False)