In [40]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import util

In [41]:
filename = "Population_By_Age_Group"
filepath = os.path.join("../Raw", filename)

df = pd.read_csv(filepath)
df

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Andorra,2013,15.5,NaN,NaN
1,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Andorra,2019,13.9,NaN,NaN
2,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2013,20.1,NaN,NaN
3,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2014,19.6,NaN,NaN
4,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2015,19.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3245,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Kosovo*,2018,1.6,NaN,NaN
3246,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Kosovo*,2019,1.8,NaN,NaN
3247,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Kosovo*,2020,1.8,NaN,NaN
3248,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Kosovo*,2021,1.9,NaN,NaN
3249,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Kosovo*,2022,1.9,NaN,NaN

In [42]:
# Only countries that exist in util.COUNTRIES class
df = df[df["geo"].isin(list(vars(util.COUNTRIES).values()))]
df

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Andorra,2013,15.5,NaN,NaN
1,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Andorra,2019,13.9,NaN,NaN
2,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2013,20.1,NaN,NaN
3,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2014,19.6,NaN,NaN
4,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2015,19.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3208,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2020,3.4,NaN,NaN
3209,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2021,3.5,NaN,NaN
3210,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2022,3.4,NaN,NaN
3211,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2023,3.4,NaN,NaN
3212,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2024,3.6,NaN,NaN

In [43]:
# Parse the age group
age_group_dict = {
    'Proportion of population aged 0-14 years': [0, 14],
    'Proportion of population aged 15-24 years': [15, 24],
    'Proportion of population aged 25-49 years': [25, 49],
    'Proportion of population aged 50-64 years': [50, 64],
    'Proportion of population aged 65-79 years': [65, 79],
    'Proportion of population aged 80 years and more': [80, 100]
}

# Map against the age_group_dict and return the list
df["age_group_list"] = df["indic_de"].map(age_group_dict)
df[["Age_Group_Min_Age", "Age_Group_Max_Age"]] = pd.DataFrame(df["age_group_list"].tolist(), index=df.index)
df = df.drop(columns=["age_group_list"])
df

/var/folders/_x/74827dzs033cwdj2j4gch59r0000gn/T/ipykernel_1520/4061099688.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["age_group_list"] = df["indic_de"].map(age_group_dict)
/var/folders/_x/74827dzs033cwdj2j4gch59r0000gn/T/ipykernel_1520/4061099688.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["Age_Group_Min_Age", "Age_Group_Max_Age"]] = pd.DataFrame(df["age_group_list"].tolist(), index=df.index)
/var/folders/_x/74827dzs033cwdj2j4gch59r0000gn/T/ipykernel_1520/4061099688.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["Age_Group_Min_Age", "Age_Group_Max_Age"]] = pd.DataFrame(df["age_group_list"].tolist(), index=df.index)

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS,Age_Group_Min_Age,Age_Group_Max_Age
0,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Andorra,2013,15.5,NaN,NaN,0,14
1,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Andorra,2019,13.9,NaN,NaN,0,14
2,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2013,20.1,NaN,NaN,0,14
3,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2014,19.6,NaN,NaN,0,14
4,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 0-14 years,Albania,2015,19.0,NaN,NaN,0,14
...,...,...,...,...,...,...,...,...,...,...,...
3208,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2020,3.4,NaN,NaN,80,100
3209,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2021,3.5,NaN,NaN,80,100
3210,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2022,3.4,NaN,NaN,80,100
3211,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2023,3.4,NaN,NaN,80,100
3212,ESTAT:TPS00010(1.0),20/03/25 23:00:00,Annual,Proportion of population aged 80 years and more,Slovakia,2024,3.6,NaN,NaN,80,100

In [47]:
# Now we want to save the cleaned data
# OBS_VALUE: Proportion of population
# TIME_PERIOD: Year
# age_group_start: Min age
# age_group_end: Max age
# geo: Country

df = df.rename(columns={
    "TIME_PERIOD": "Year",
    "OBS_VALUE": "Proportion_of_Population",
    "geo": "Country"
})
df = df[["Country", "Year", "Age_Group_Min_Age", "Age_Group_Max_Age", "Proportion_of_Population"]]
df

,Country,Year,Age_Group_Min_Age,Age_Group_Max_Age,Proportion_of_Population
0,Andorra,2013,0,14,15.5
1,Andorra,2019,0,14,13.9
2,Albania,2013,0,14,20.1
3,Albania,2014,0,14,19.6
4,Albania,2015,0,14,19.0
...,...,...,...,...,...
3208,Slovakia,2020,80,100,3.4
3209,Slovakia,2021,80,100,3.5
3210,Slovakia,2022,80,100,3.4
3211,Slovakia,2023,80,100,3.4
3212,Slovakia,2024,80,100,3.6

In [48]:
# Save to Clean folder
clean_folder = "/Users/jesper/Desktop/CBS/Thesis 1/Data/Clean"
clean_filepath = os.path.join(clean_folder, filename + ".csv")
df.to_csv(clean_filepath, index=False)