In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import util

In [2]:
filename = "Population"
filepath = os.path.join("../Raw", filename)

df = pd.read_csv(filepath)
df

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2013,76246,NaN,NaN
1,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2016,71732,NaN,NaN
2,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2018,74794,e,NaN
3,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2019,76177,NaN,NaN
4,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2020,77543,e,NaN
...,...,...,...,...,...,...,...,...,...
576,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Kosovo*,2018,1798506,NaN,NaN
577,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Kosovo*,2019,1795666,NaN,NaN
578,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Kosovo*,2020,1782115,NaN,NaN
579,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Kosovo*,2021,1798186,NaN,NaN
580,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Kosovo*,2022,1773971,NaN,NaN

In [3]:
# Only countries that exist in util.COUNTRIES class
df = df[df["geo"].isin(list(vars(util.COUNTRIES).values()))]
df

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2013,76246,NaN,NaN
1,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2016,71732,NaN,NaN
2,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2018,74794,e,NaN
3,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2019,76177,NaN,NaN
4,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2020,77543,e,NaN
...,...,...,...,...,...,...,...,...,...
526,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Slovakia,2020,5457873,NaN,NaN
527,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Slovakia,2021,5459781,NaN,NaN
528,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Slovakia,2022,5434712,NaN,NaN
529,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Slovakia,2023,5428792,NaN,NaN
530,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Slovakia,2024,5424687,NaN,NaN

In [5]:
# Now we want to save the cleaned data
# OBS_VALUE: Proportion of population
# TIME_PERIOD: Year
# age_group_start: Min age
# age_group_end: Max age
# geo: Country

df = df.rename(columns={
    "TIME_PERIOD": "Year",
    "OBS_VALUE": "Population",
    "geo": "Country"
})
df = df[["Country", "Year", "Population"]]
df

      Country  Year  Population
0     Andorra  2013       76246
1     Andorra  2016       71732
2     Andorra  2018       74794
3     Andorra  2019       76177
4     Andorra  2020       77543
..        ...   ...         ...
526  Slovakia  2020     5457873
527  Slovakia  2021     5459781
528  Slovakia  2022     5434712
529  Slovakia  2023     5428792
530  Slovakia  2024     5424687

[479 rows x 3 columns]

In [6]:
# Save to Clean folder
clean_folder = "/Users/jesper/Desktop/CBS/Thesis 1/Data/Clean"
clean_filepath = os.path.join(clean_folder, filename + ".csv")
df.to_csv(clean_filepath, index=False)